$cPurple: #744df5;
$cBlue: #187ca0;
$cLightBlue: #bbdeff;
$cOrange: #f79c34;
$cBloodOrange: #ff6c1d;
$cText: #495662;
$cGrayBg: #e1e8ee;
$cGrayHover: #e4e4e4b5;
$cWhite: #fff;

$shadow: #36363666 1px 1px 6px;
$shadowShort: #c4c4c4 1px 1px 7px;
$radius: 20px;
$animFast: 200ms ease-out;

$fontMed: 500 14px/1.5em 'Roboto-Medium', 'Roboto', sans-serif;
$fontReg: 400 14px/1.5em 'Roboto-Regular', 'Roboto', sans-serif;
$fontBold: 700 25px/1.5em 'Roboto-Bold', 'Roboto', sans-serif;

$mediaSizes: (
  xs: 320px,
  s: 480px,
  m: 768px,
  l: 1024px,
  xl: 1224px,
);

@mixin media($breakPoint) {
  @media (min-width: map-get($mediaSizes, $breakPoint)) {
    @content;
  }
}

@mixin access {
  position: absolute;
  left: -9999em;
}
